<header class="site-header" role="banner">

  <div class="wrapper">
    <div class="site-header-main-div">
      <a class="site-logo" href="{{ "/" | relative_url }}"><img class="responsive" src="/assets/images/logo_no_txt.png"></a>
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
   
    <div class="site-header-main-div">
      <p>
        I'm Gunther Renneboog, a Belgian programmer living in Brazil.
        <a rel="author" href="{% link about.markdown %}">More about me.</a>
      </p>
    </div>
  </div>
</header>